{% extends "layout.html" %}

{% block body %}
  <p>Hello! Welcome to our career recommendation service! </p>
  <p>On the next page, we will ask you some questions to understand what values and interests you prioritize in a career.<br>To start receiving recommendations, please enter your name: </p>

  <form method="POST" action="/form">
      <input type="text" name="userName" style="height: 20px; font-size: 14px">
      <input class="button" type="submit" style="background-color:#add8e6;" value="Start Finding Jobs">
  </form>

    <div style="margin-top: 120px; text-align: center; font-style: italic;">
        <p>"Choose a job you love, and you will never have to work a day in your life." – Confucius</p>
    </div>

    <svg width="300" height="50" style="margin-top: 280px;">
        <circle cx="50" cy="25" r="15" fill="#0e585f"></circle>
        <text x="50" y="30" text-anchor="middle" font-size="15" fill="white">1</text>

        <line x1="65" y1="25" x2="135" y2="25" stroke="#ddd" stroke-width="4"></line>

        <circle cx="150" cy="25" r="15" fill="#ddd"></circle>
        <text x="150" y="30" text-anchor="middle" font-size="15" fill="black">2</text>

        <line x1="165" y1="25" x2="235" y2="25" stroke="#ddd" stroke-width="4"></line>

        <circle cx="250" cy="25" r="15" fill="#ddd"></circle>
        <text x="250" y="30" text-anchor="middle" font-size="15" fill="black">3</text>
    </svg>
{% endblock %}
