{% extends "layout.html" %}

{% block body %}

<p><b> Hello, {{ placeholder }}!</b></p> 
<p>Let's get started with finding what qualifications, values, and interests you have in order to find careers best suited to you!</p>

<form action="/jobs" method="POST", class="form-box">
    <p><b>Which of the following best represents your education level (planned or current)?</b></p>
        <label>Choose one: </label>
        <select name="education" id="education" required>
            <option value="">Select an education</option>
            <option value="highschool">High School</option>
            <option value="associates">Some College</option>
            <option value="bachelors">Bachelors</option>
            <option value="postgrad">Post Graduate</option>
        </select><br><br>

     <p><b>Rate the level of each values you seek in a job using the slider (0: least important, 1: most important)</b></p>
        <div class="slider-container">
            <label>Achievement: </label>
                <input type="range" name="achievement" min="0" max="1" step="0.05" value="0" class="slider" oninput="this.nextElementSibling.value = this.value">
                <output>0</output>
        </div>
        <div class="slider-container">
            <label>Independence: </label>
                <input type="range" name="independence" min="0" max="1" step="0.05" value="0" class="slider" oninput="this.nextElementSibling.value = this.value">
                <output>0</output>
        </div>
        <div class="slider-container">
            <label>Recognition: </label>
                <input type="range" name="recognition" min="0" max="1" step="0.05" value="0" class="slider" oninput="this.nextElementSibling.value = this.value">
                <output>0</output>
        </div>
        <div class="slider-container">
            <label>Relationships: </label>
                <input type="range" name="relationships" min="0" max="1" step="0.05" value="0" class="slider" oninput="this.nextElementSibling.value = this.value">
                <output>0</output>
        </div>
        <div class="slider-container">
            <label>Support: </label>
                <input type="range" name="support" min="0" max="1" step="0.05" value="0" class="slider" oninput="this.nextElementSibling.value = this.value">
                <output>0</output>
        </div>
        <div class="slider-container">
            <label>Working Conditions: </label>
                <input type="range" name="working_conditions" min="0" max="1" step="0.05" value="0" class="slider"oninput="this.nextElementSibling.value = this.value">
                <output>0</output>
        </div><br>

    <p><b>Rate the level of each interest you pursue within a job using the slider (0: least interested, 1: most interested)</b></p>
        <div class="slider-container">
            <label>Artistic Aspect:</label>
            <input type="range" name="artistic_aspect" min="0" max="1" step="0.05" value="0" class="slider" oninput="artisticAspectValue.value = this.value">
            <output id="artisticAspectValue">0</output>
        </div>
        <div class="slider-container">
            <label>Conventional Aspect:</label>
            <input type="range" name="conventional_aspect" min="0" max="1" step="0.05" value="0" class="slider" oninput="conventionalAspectValue.value = this.value">
            <output id="conventionalAspectValue">0</output>
        </div>
        <div class="slider-container">
            <label>Enterprising Aspect:</label>
            <input type="range" name="enterprising_aspect" min="0" max="1" step="0.05" value="0" class="slider" oninput="enterprisingAspectValue.value = this.value">
            <output id="enterprisingAspectValue">0</output>
        </div>
        <div class="slider-container">
            <label>Investigative Aspect:</label>
            <input type="range" name="investigative_aspect" min="0" max="1" step="0.05" value="0" class="slider" oninput="investigativeAspectValue.value = this.value">
            <output id="investigativeAspectValue">0</output>
        </div>
        <div class="slider-container">
            <label>Realistic Aspect:</label>
            <input type="range" name="realistic_aspect" min="0" max="1" step="0.05" value="0" class="slider" oninput="realisticAspectValue.value = this.value">
            <output id="realisticAspectValue">0</output>
        </div>
        <div class="slider-container">
            <label>Social Aspect:</label>
            <input type="range" name="social_aspect" min="0" max="1" step="0.05" value="0" class="slider" oninput="socialAspectValue.value = this.value">
            <output id="socialAspectValue">0</output>
        </div><br>

    <p><b>Please provide the state you will be seeking jobs in:</b></p>
        <label>Choose a state: </label>
        <select name="state" id="state" required>
            <option value="">Select a state</option>
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois">Illinois</option>
            <option value="Indiana">Indiana</option>
            <option value="Iowa">Iowa</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Louisiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana">Montana</option>
            <option value="Nebraska">Nebraska</option>
            <option value="Nevada">Nevada</option>
            <option value="New Hampshire">New Hampshire</option>
            <option value="New Jersey">New Jersey</option>
            <option value="New Mexico">New Mexico</option>
            <option value="New York">New York</option>
            <option value="North Carolina">North Carolina</option>
            <option value="North Dakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option>
            <option value="Pennsylvania">Pennsylvania</option>
            <option value="Rhode Island">Rhode Island</option>
            <option value="South Carolina">South Carolina</option>
            <option value="South Dakota">South Dakota</option>
            <option value="Tennessee">Tennessee</option>
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option>
            <option value="Virginia">Virginia</option>
            <option value="Washington">Washington</option>
            <option value="West Virginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
        </select><br><br>

    <input class="button" type="submit" value="See Your Results"><br><br>
</form>

<svg width="300" height="50" style="margin-top: 50px;">
        <circle cx="50" cy="25" r="15" fill="#ddd"></circle>
        <text x="50" y="30" text-anchor="middle" font-size="15" fill="black">1</text>

        <line x1="65" y1="25" x2="135" y2="25" stroke="#ddd" stroke-width="4"></line>

        <circle cx="150" cy="25" r="15" fill="#0e585f"></circle>
        <text x="150" y="30" text-anchor="middle" font-size="15" fill="white">2</text>

        <line x1="165" y1="25" x2="235" y2="25" stroke="#ddd" stroke-width="4"></line>

        <circle cx="250" cy="25" r="15" fill="#ddd"></circle>
        <text x="250" y="30" text-anchor="middle" font-size="15" fill="black">3</text>
</svg>

{% endblock %}


